version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres_practice4
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: usersdb
    ports:
      - "5433:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
